/* Custom CSS for Dashboard */
body {
  background:#e4e9f7;
}
.container {
  margin-top: 20px;
  width: 100vh;
}

.dashboard-summary {
  display: flex;
  justify-content: space-between;
}

.dashboard-summary .summary-item {
  flex: 1;
  text-align: center;
  margin: 0 10px;
}

.table {
  margin-top: 20px;
}

.card-header {
  font-size: 1.2rem;
  font-weight: bold;
}

.badge-success {
  background-color: #28a745;
}

.badge-warning {
  background-color: #ffc107;
}

.badge-secondary {
  background-color: #6c757d;
}
